table {
    width: 100%;
    background-color: transparent;
    margin: 2rem 0;
  }

.mat-cell, .mat-header-cell{
    color: darkslategrey;
}

.container{
    margin-bottom: 1rem;
}

.qualForm{
    margin-top: 2.5rem;
}

a{
    text-decoration: none;
}